// Bold
@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/helveticaNeue/HelveticaNeueBold.otf") format("otf");
  font-weight: 700; // Poids pour Bold
}

// Medium
@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/helveticaNeue/HelveticaNeueMedium.otf") format("otf");
  font-weight: 500; // Poids pour Medium
}

// Light
@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/helveticaNeue/HelveticaNeueLight.otf") format("otf");
  font-weight: 300; // Poids pour Light
}
