@import "./font";

body {
  font-family: "HelveticaNeue", sans-serif !important;
}

h1 {
  font-size: 70px !important;
}
h2 {
  font-size: 60px !important;
}
h3 {
  font-size: 48px !important;
}
h4 {
  font-size: 42px !important;
}
h5 {
  font-size: 36px !important;
}

.utility-bar {
  .announcement-bar {
    .announcement-bar__message {
      padding: 0.5rem 0;
      min-height: auto;
      letter-spacing: normal;

      span {
        font-weight: bold;
      }
    }
  }
}

.header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  .header__inline-menu {
    font-weight: bold;

    .header__menu-item {
      span {
        text-underline-offset: 10px;
      }
      &[aria-current="page"] {
        background-color: #15433d;
        border-radius: 25px;
        padding: 8px 15px;
        margin-top: 5px;

        span {
          color: #fff7e5;
          text-decoration: none;
        }
      }
    }
  }

  .header__heading {
    padding-right: 1rem;
    img {
      max-width: 105px !important;
    }
  }

  .header__icons {
    #cart-icon-bubble {
      margin-left: -0.8rem;
    }
    svg {
      height: 30px;
    }
  }
}

.section-hp-media-zippy {
  background-color: #fafafa;

  .zippy-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 3rem 1.5rem;

    h2 {
      text-align: center;
    }
    .layout {
      display: flex;
      justify-content: center;
      column-gap: 6rem;

      img {
        height: 45px;
        width: auto;
      }
    }
  }
}

.section-hp-thematique-zippy {
  .zippy-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 4rem 1.5rem;

    h5 {
      text-align: center;
    }

    .layout {
      display: flex;
      justify-content: center;
      column-gap: 3rem;

      .link {
        text-decoration: none;
        .link-container {
          background-color: #c3e5fd;
          display: flex;
          align-items: center;
          padding: 8px 4.5rem;
          column-gap: 1rem;
          border-radius: 35px;

          .icon-container {
            background-color: #fff;
            border-radius: 25px;
            padding: 5px;

            img {
              max-height: 35px;
            }
          }

          span {
            color: #000;
            font-weight: bold;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

.section-hp-bienfait-cbd-zippy {
  .zippy-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 4rem 1.5rem;

    h5 {
      text-align: center;
    }

    .layout {
      display: flex;
      column-gap: 3rem;

      .card-container {
        border: 2px solid #000;
        border-radius: 10px;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;

        p {
          text-align: center;
        }
      }
    }
  }
}

.section-hp-collection-zippy {
  background-color: #fff;

  .zippy-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    row-gap: 2rem;
    padding: 4rem 1.5rem;

    .container-one {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .container-two {
      width: 50%;
      display: flex;
      flex-direction: column;
      row-gap: 3rem;

      .link-container {
        background: linear-gradient(
          100deg,
          rgba(36, 46, 73, 1) 12%,
          rgba(42, 64, 120, 1) 65%
        );
        border-radius: 15px;
        position: relative;
        height: 125px;

        .icon-container {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          h5 {
            color: #fff7e5;
          }

          .link {
            color: #2a4078;
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            padding: 5px 25px;
            background-color: #fff7e5;
            border-radius: 35px;
          }
        }
      }
    }
  }
}

.section-hp-best-brand-zippy {
  .zippy-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    row-gap: 2rem;
    padding: 5rem 1.5rem;

    .container-one {
      width: 60%;
      display: flex;
      justify-content: center;

      h2 {
        max-width: 480px;

        strong {
          font-weight: normal;
          padding: 0 1rem;
          background: #000;
          border-radius: 10px;
          color: #f8d5c0;
        }
      }
    }

    .container-two {
      width: 40%;

      h4 {
        margin-bottom: 2rem;
      }

      .link-container {
        display: flex;
        column-gap: 15px;
        align-items: flex-start;
        margin-bottom: 1rem;

        .icon-container {
          padding: 0.8rem;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f8d5c0;

          img {
            width: 18px;
            height: 18px;
          }
        }

        .info-container {
          margin-top: -4px;

          .title-info {
            font-weight: bold;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.section-reviews-client-zippy {
  background: #f2f2f2;

  .super-title {
    max-width: 900px;
    margin: 0 auto 2rem;
  }

  .zippy-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 5rem 1.5rem;

    h2 {
      text-align: center;
    }

    .layout {
      display: flex;
      column-gap: 2rem;

      .container-one {
        width: fit-content;
        display: grid;
        justify-content: center;
        column-gap: 1.5rem;
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: repeat(2, min-content);
        row-gap: 1.5rem;

        .container-img {
          height: fit-content;
          width: fit-content;
        }
      }

      .container-two {
        flex: 1;

        .layout-reviews {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 1.5rem;
          column-gap: 1.5rem;

          .review-container {
            border: 2px solid #15433d;
            border-radius: 15px;
            padding: 0.5rem 1rem;

            img {
              max-width: 100px;
            }

            .layout-container {
              display: flex;
              justify-content: space-between;

              .author {
                font-weight: bold;
              }

              .verified-badge {
                display: flex;
                align-items: center;
                column-gap: 5px;

                img {
                  max-height: 19px;
                }

                span {
                  font-weight: bold;
                }
              }
            }
          }
        }

        .link {
          display: inline-block;
          width: 100%;
          padding: 1.5rem 0;
          text-align: center;
          background-color: #000;
          margin-top: 1rem;
          border-radius: 10px;
          color: #fff;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}

.section-hp-process-zippy {
  .zippy-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 5rem 1.5rem;

    h2 {
      text-align: center;
    }

    .layout {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;
      row-gap: 3rem;

      .card-container {
        padding: 3rem 2rem;
        background-color: #000;
        border-radius: 20px;
        color: #fff;
        height: fit-content;

        .title {
          margin: 1rem 0;
        }

        .text {
          margin: 0;
        }
      }
    }
  }
}

.section-hp-reassurance-zippy {
  .zippy-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 5rem 1.5rem;

    .layout {
      display: flex;
      column-gap: 5rem;

      .reassurance-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .message-reassurance {
          text-align: center;
        }
      }
    }
  }
}
