<script>
  const produit = {{ product | json }};
  
  document.addEventListener("DOMContentLoaded", function () {
    const target = document.querySelector(".section-fp-autre-produit-zippy");
    const cardList = target.querySelectorAll(".card-layout");
    let itemHidden = false;

    cardList.forEach(item => {
      const card = item;
      const h3 = card.querySelector(".title-avis").querySelector("h3").textContent;

      if (produit.title == h3) {
        item.style.display = "none";
        itemHidden = true;
      }
    });

    // Si aucun élément n'a été masqué, masquer un élément au hasard
    if (!itemHidden && cardList.length > 0) {
      const randomIndex = Math.floor(Math.random() * cardList.length);
      cardList[randomIndex].style.display = "none";
    }
  }
);
</script>

<section style="background-color: {{ product.metafields.custom.fp_background_couleur_global }}">
  <div class="zippy-container">
      <h2 class="title">{{ section.settings.title }}</h2>
      {{ section.settings.description-message | replace: '<p', '<p class="message"'  }}
      <ul class="layout">
          {%- for product in section.settings.collection.products -%}
              <li class="card-layout">
                  {% render 'card-product-zippy',
                      card_product: product,
                      svg_url: section.settings.svg-wave,
                      index_number: forloop.index0,
                      tags: product.metafields.custom.type_de_produit,
                      bg_color_first: product.metafields.custom.couleur_fond_image_card,
                      bg_color_second: product.metafields.custom.couleur_fond_info_card,
                    %}
              </li>
          {%- endfor -%}   
      </ul>
  </div>
</section>


{% schema %}
{
  "name": "fp-autre-produit-zippy",
  "class": "section-fp-autre-produit-zippy",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Meilleurs ventes",
      "label": "Titre"
    },
    {
        "type": "text",
        "id": "description-message",
        "label": "Description"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
