{% render 'svg-card-wave-full',
    colorB: product.metafields.custom.fp_background_couleur_milieu, 
    colorA: "#fff7e5", 
%}
<div class="page-layout" style="background-color: {{ product.metafields.custom.fp_background_couleur_milieu }}">
    <div class="zippy-container">
        <h2 class="title">Les questions fréquentes</h2>
        <div class="max-width-container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneBottom" aria-expanded="false" aria-controls="collapseOneBottom" style="text-transform: uppercase;">
                        Quels sont les bienfaits du CBD de Zippy ?
                    </button>
                    </h2>
                    <div id="collapseOneBottom" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Nos produits CBD offrent des bienfaits naturels tels que la réduction du stress, l'amélioration du sommeil, et le soulagement des douleurs chroniques. Chaque produit est testé et certifié pour garantir son efficacité et sa pureté.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoBottom" aria-expanded="false" aria-controls="collapseTwoBottom" style="text-transform: uppercase;">
                        Comment puis-je être sûr de la qualité de vos produits ?
                    </button>
                    </h2>
                    <div id="collapseTwoBottom" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Chez Zippy, la qualité est notre priorité. Nos produits sont cultivés biologiquement en Italie, sans pesticides, et chaque lot est rigoureusement testé en laboratoire pour assurer une pureté optimale et une conformité aux normes européennes.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3Bottom" aria-expanded="false" aria-controls="collapse3Bottom" style="text-transform: uppercase;">
                        Votre CBD est-il légal ?
                    </button>
                    </h2>
                    <div id="collapse3Bottom" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Oui, tous nos produits respectent les normes légales européennes avec un taux de THC inférieur à 0,3%. Chaque produit est testé et certifié pour garantir une consommation en toute sécurité et légalité.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4Bottom" aria-expanded="false" aria-controls="collapse4Bottom" style="text-transform: uppercase;">
                        Comment fonctionne la livraison ?
                    </button>
                    </h2>
                    <div id="collapse4Bottom" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Nous expédions votre commande en 24 à 48 heures ouvrables, avec une garantie de discrétion pour que vous receviez vos produits en toute confidentialité. Nous offrons également une garantie de satisfaction pour assurer que chaque produit répond à vos attentes.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5Bottom" aria-expanded="false" aria-controls="collapse5Bottom" style="text-transform: uppercase;">
                        Est-ce que vos produits provoquent des effets psychotropes ?
                    </button>
                    </h2>
                    <div id="collapse5Bottom" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Non, nos produits CBD sont formulés pour offrir des bienfaits naturels sans effets psychotropes. Le taux de THC est strictement contrôlé et maintenu en dessous des 0,3%, conformément aux normes européennes.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6Bottom" aria-expanded="false" aria-controls="collapse6Bottom" style="text-transform: uppercase;">
                        Que se passe-t-il si je ne suis pas satisfait de mon achat ?
                    </button>
                    </h2>
                    <div id="collapse6Bottom" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Votre satisfaction est notre priorité. Si vous n'êtes pas satisfait de votre achat, contactez notre service client. Nous sommes là pour vous assister et trouver une solution qui vous convient, que ce soit un remboursement ou un échange.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  {% schema %}
  {
    "name": "fp-bottom-faq-zippy",
    "class": "section-fp-bottom-faq-zippy",
    "tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "table_image",
            "label": "Image du tableau"
        }
    ]
  }
  {% endschema %}
  