<div class="page-layout" style="background-color: {{ product.metafields.custom.fp_background_couleur_milieu }}">
    <div class="zippy-container">
        <div class="layout">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        COMPOSITION
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ product.metafields.custom.fp_faq_composition | metafield_tag }}
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        POINT SCIENCE
                    </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ product.metafields.custom.fp_faq_point_science | metafield_tag }}
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        POURQUOI ZIPPY
                    </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Zippy se distingue par son engagement envers la <strong>qualité</strong>, la <strong>pureté</strong> et le <strong>bien-être</strong>. Nos produits sont cultivés biologiquement, <strong>testés rigoureusement</strong> et <strong>expédiés rapidement</strong>. Rejoignez une <strong>communauté dédiée</strong> au bien-être naturel et à l'authenticité.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        LÉGALITÉ
                    </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Tous nos produits respectent les <strong>normes légales européennes</strong> avec un <strong>taux de THC inférieur à 0,3%</strong>. Chaque produit est <strong>testé et certifié</strong> pour garantir une consommation en toute sécurité et légalité.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        LIVRAISON & GARANTIE
                    </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Zippy s'engage à <strong>expédier votre commande dans un délai de 24 à 48 heures</strong> ouvrables. Nous offrons une <strong>garantie de satisfaction</strong> pour assurer que chaque produit répond à vos attentes. Si vous n'êtes pas satisfait, notre service client est là pour vous assister.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        PAIEMENT 100% SÉCURISÉ
                    </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Nous utilisons des <strong>technologies de pointe</strong> pour garantir que chaque transaction est <strong>100% sécurisée</strong>. Vos informations personnelles et bancaires sont protégées, vous permettant de faire vos achats en toute confiance.
                    </div>
                    </div>
                </div>
            </div>
            <img src="{{ section.settings.table_image | image_url: width: 700 }}" class="img-table">
        </div>
    </div>
</div>
  
  {% schema %}
  {
    "name": "fp-faq-table-zippy",
    "class": "section-fp-faq-table-zippy",
    "tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "table_image",
            "label": "Image du tableau"
        }
    ]
  }
  {% endschema %}
  