<div class="zippy-container">
    <div class="container-one">
      <h3>{{ section.settings.paragraph }}</h3>
    </div>
    <div class="container-two">
        <h4>zippy c'est ...</h4>
        {%- for block in section.blocks -%}
            <div class="link-container">
                <div class="icon-container">
                    <img src="{{ block.settings.image | image_url: width: 3200, height: 1000 }}" />
                </div>
                <div class="info-container">
                  {{ block.settings.title | replace: '<p', '<p class="title-info"' }}
                  {{ block.settings.text | replace: '<p', '<p class="text-info-message"' }}
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>

  


  {% schema %}
{
  "name": "hp-best-brand-zippy",
  "class": "section-hp-best-brand-zippy",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Ligne",
      "type": "Line",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Titre"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Texte"
        }
      ]
    }
  ]
}
{% endschema %}