<div class="zippy-container">
    <h5>Quels sont les bienfaits du CBD ?</h5>
    <div class="layout">
        {%- for block in section.blocks -%}
          <div class="card-container">
            <p>{{ block.settings.text }}</p>
            <img src="{{ block.settings.image | image_url: width: 3200, height: 1000 }}" />
          </div>
        {%- endfor -%}
    </div>
</div>

  


{% schema %}
{
  "name": "hp-bienfait-cbd-zippy",
  "class": "section-hp-bienfait-cbd-zippy",
  "tag": "section",
  "settings": [
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Container",
      "type": "container",
      "settings": [
        {
            "type": "textarea",
            "id": "text",
            "label": "Texte"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}