<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
        {%- for block in section.blocks -%}
            <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
                <img class="d-block w-100" src="{{
                    block.settings.image
                    | image_url: width: 3200}}" />
                    <div class="layout">
                      <div class="container-layout">
                        <h1 class="title">Rejoignez les 3000+ Utilisateurs Satisfaits de notre Pink Lady</h1>
                        <p class="message">Découvrez pourquoi notre Pink Lady est la fleur CBD préférée de nos consommateurs dans leur quotidien.</p>
                        <a href="" class="link">Ça m'intéresse</a>
                      </div>
                    </div>
              </div>
        {%- endfor -%}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  


  {% schema %}
{
  "name": "hp-carousel-zippy",
  "class": "section-hp-carousel-zippy",
  "tag": "section",
  "settings": [
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}