<div class="zippy-container">
    <h2>Notre Processus</h2>
    <div class="layout">
        {%- for block in section.blocks -%}
                <div class="card-container">
                  <img src="{{ block.settings.image | image_url: width: 3200, height: 1000 }}" />
                  <p class="title">{{ block.settings.title }}</p>
                  <p class="text">{{ block.settings.text }}</p>
                </div>
        {%- endfor -%}
    </div>
</div>

  


  {% schema %}
{
  "name": "hp-process-zippy",
  "class": "section-hp-process-zippy",
  "tag": "section",
  "settings": [
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "name": "Card",
      "type": "card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Texte"
        }
      ]
    }
  ]
}
{% endschema %}