<div class="zippy-container">
    <h5>Du CBD pour chaque objectif : choisissez selon vos besoins.</h5>
    <div class="layout">
        {%- for block in section.blocks -%}
                <a href="{{ block.settings.collection.url }}" class="link">
                    <div class="link-container" style="background-color: {{ block.settings.background-color }} ">
                        <div class="icon-container">
                            <img src="{{ block.settings.image | image_url: width: 3200, height: 1000 }}" />
                        </div>
                        <span>{{ block.settings.text }}</span>
                    </div>
                </a>
        {%- endfor -%}
    </div>
</div>

  


  {% schema %}
{
  "name": "hp-thematique-zippy",
  "class": "section-hp-thematique-zippy",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Texte"
        },
        {
            "type": "color",
            "id": "background-color",
            "label": "Background"
          }
      ]
    }
  ]
}
{% endschema %}